<div class="col-md-12">
    <div class="form-wrapper">
        <div class="panel panel-skin">
            <div class="panel-heading">
                <div class="service-iconh">
                    <span class="fa fa-user-md"></span>
                </div>
                <h4 class="panel-title">Your Test was </h4>
            </div>
        </div>
    </div>
    <form class="example-form form2" [style.fontSize.px]="14 ">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th scope="col">TEST CODE</th>
                    <th scope="col">TEST NAME</th>
                    <th scope="col">PRICE</th>

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td colspan="3">
                        <div class="center">
                            <app-my-loader [hidden]="this.gservice.hideloader"></app-my-loader>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let item of this.gservice.Orderdetails">
                    <td scope="col">{{item.testcode}}</td>
                    <td scope="col">{{item.testname}}</td>
                    <td scope="col">{{item.rate}}</td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- {{this.getuserID()}}userID -->
    <a class="alignright" (click)="close()">Close</a>

</div>