<div class="col-md-12">
    <div class="form-wrapper">
        <div class="panel panel-skin">
            <div class="panel-heading">
                <div class="service-iconh">
                    <span class="fa fa-user-md"></span>
                </div>
                <h4 class="panel-title">Your Test was </h4>
            </div>
        </div>
    </div>
    <form class="example-form form2" [style.fontSize.px]="14 ">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th scope="col">TEST CODE</th>
                    <th scope="col">TEST NAME</th>
                    <th scope="col">PRICE</th>

                </tr>
            </thead>
            <tbody>
                <!-- <tr *ngIf="this.gservice.Orderdetails?.length==0" [class.text-danger]="this.gservice.Orderdetails?.length==0">
                    <td class="font-italic text-center mt-5" colspan="5">
                        No test is Booked for Now
                    </td>
                </tr> -->
                <tr>
                    <td colspan="3">
                        <div class="center">
                            <app-my-loader [hidden]="this.gservice.hideloader"></app-my-loader>
                        </div>
                    </td>
                </tr>
                <tr *ngFor="let item of this.gservice.Orderdetails">
                    <td scope="col">{{item.testcode}}</td>
                    <td scope="col">{{item.testname}}</td>
                    <td scope="col">{{item.price}}</td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- {{this.getuserID()}}userID -->
    <div class="mr-2 ml-2 mt-3 input-group-append justify-content-center row ">
        <button class="btn btn-outline-success" (click)="close()">Hide Me</button>
    </div>
</div>