<div id="wrapper" class="screensize">
    <div class="row">
        <div class="col-lg-12">
            <app-tophead></app-tophead>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="panel-body">
                <div [hidden]="this.gservice.showToggle" class="col-md-12" id="form-wrapper1">
                    <div class="form-wrapper">
                        <div class="panel panel-skin">
                            <div class="panel-heading">
                                <div class="service-iconh">
                                    <span class="fa fa-user-md"></span>
                                </div>
                                <h4 class="panel-title">Check Out</h4>
                            </div>

                            <a class="editinfo alignright" (click)="changeAddress()">
                                Edit Address<span class="material-icons">
                                    location_on
                                    </span></a>
                        </div>
                        <form class="example-form form2" [style.fontSize.px]="14 ">
                            <table class="table" id="table">
                                <tbody>
                                    <tr>
                                        <th scope="col">NAME:</th>
                                        <td [colSpan]="4">{{username}}</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">AGE:</th>
                                        <td>{{age}}</td>
                                        <th scope="col">GENDER:</th>
                                        <td>{{gender}}</td>

                                    </tr>
                                    <tr>
                                        <th scope="col">PHONE</th>
                                        <td>{{number}}</td>
                                        <th scope="col">TOTAL</th>
                                        <td>{{this.gservice.totalbill}}/-</td>
                                    </tr>
                                    <tr>
                                        <th scope="col">Address:</th>
                                        <td [colSpan]="4">{{adress}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                        <!-- {{this.getuserID()}}userID -->
                    </div>
                </div>
                <div class="btnbucket">
                    <a class="btn-danger btn-small alignleft" (click)="continueShopping()">Continue Booking</a>
                    <button class="btn btn-outline-success alignright" (click)="checkout()">Book Now</button>
                </div>
            </div>
        </div>
    </div>
</div>