<div class="col-md-12">
    <div class="form-wrapper">
        <div class="panel panel-skin">
            <div class="panel-heading">
                <div class="service-iconh">
                    <span class="fa fa-user-md"></span>
                </div>
                <h4 class="panel-title">Patient Bucket</h4>
            </div>
        </div>
    </div>
    <form class="example-form form2" [style.fontSize.px]="14 ">
        <table class="table" id="table">
            <thead>
                <tr>
                    <th scope="col">TEST CODE</th>
                    <th scope="col">TEST NAME</th>
                    <th scope="col">PRICE</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngIf="this.gservice.pendingtest?.length==0" [class.text-danger]="this.gservice.pendingtest?.length==0">
                    <td class="font-italic text-center mt-5" colspan="5">
                        No test is Selected yet
                    </td>
                </tr>
                <tr *ngFor="let test of this.gservice.pendingtest">
                    <td>{{test.testcode}}</td>
                    <td>{{test.testname}}</td>
                    <td>{{test.price}}</td>
                </tr>
            </tbody>
        </table>
    </form>
    <!-- {{this.getuserID()}}userID -->
    <div class="mr-2 ml-2 mt-3 input-group-append justify-content-center row ">
        <button class="btn btn-outline-success" (click)="this.gservice.geruserProfile()">Book Now</button>
    </div>
</div>