<p>
    <span class="fa fa-user-md"></span> Booked Tests
    <a class="alignrignt" (click)="close()"><span class="material-icons">close</span></a>
</p>
<table mat-table [dataSource]="datasource">
    <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Serial No. </th>
        <td mat-cell *matCellDef="let element; index as i">{{i+1}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="orderid">
        <th mat-header-cell *matHeaderCellDef> Order ID # </th>
        <td mat-cell *matCellDef="let element"> {{element.orderid}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="timewas">
        <th mat-header-cell *matHeaderCellDef> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.timewas}} </td>
    </ng-container>
    <ng-container matColumnDef="viewdetails">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let element">
            <a (click)="viewdetails(element.orderid)">View <i  class="fa fa-eye" aria-hidden="true"></i></a></td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>