<div class="top-area">
  
  <div class="  navigation">
    
    <img id="newexample" src="assets/bodybg/logo1.png"  alt="" />
    <div class="navbar-header page-scroll"  *ngIf='loginchk?.length > 3'>
      <img id="logohide" src="assets/bodybg/logo1.png"  alt=""  />
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
        <i class="fa fa-bars"></i>
      </button>
      
    </div>
    
    <div class="collapse navbar-collapse navbar-right navbar-main-collapse" *ngIf='loginchk?.length > 3'  >
      <ul class="nav navbar-nav">
        <li><a (click)="homepage()" >Home</a></li>   
        <li><a (click)="pvisits()">Previous Visits</a></li>
        <li><a (click)="testwiseresults()">Result Analysis</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user" aria-hidden="true"></i> {{pname}} <b class="caret"></b></a>
          <ul class="dropdown-menu">
              <li><a href=""><i class="fa fa-user" aria-hidden="true"></i> {{page}} {{pgender}}</a></li>
              <li><a href=""><i class="fa fa-mobile" aria-hidden="true"></i> {{pmobileno}}</a></li>
              <li><a href=""><img src='{{paddress}}'  /></a></li>
              <li><a (click)="Logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Log Out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>