.example-full-width {
    width: 48%;
    margin-left: 2%;
}

.testform {
    display: flex;
    justify-content: center;
}

.btnbucket {
    float: right;
    margin-right: 5%;
}

#form-wrapper {
    min-height: 200px;
}

#form-wrapper1 {
    min-height: 400px;
}

.editinfo {
    float: right;
}