<div class="form-wrapper" id="form-wrapper">
    <div class="panel panel-skin">
        <div class="panel-heading">
            <h4 class="panel-title"><span class="fa fa-user-md"></span> Availible Lab Tests
                <a (click)="orderview()" class="alignright">
                    <p *ngIf="this.gservice.isMobile()">
                        <mat-icon [matBadgeDisabled]="this.gservice.pendingtest.length==0" matBadge="{{this.gservice.pendingtest.length}}" matBadgeColor="warn"><i class="fa fa-shopping-cart" aria-hidden="true"></i></mat-icon>
                    </p>
                </a>
            </h4>
        </div>
    </div>
    <form class="example-form form2" [formGroup]="Orderdetails" [style.fontSize.px]="14" (ngSubmit)="addtoBucket(Orderdetails)">
        <div class="testform">
            <input type="text" placeholder="Select Test" aria-label="Number" matInput [formControl]="testname" [matAutocomplete]="auto">
            <mat-autocomplete autoActiveFirstOption [displayWith]="displayFn" (optionSelected)="testselecion($event)" #auto="matAutocomplete">
                <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                    {{option.testname}}
                </mat-option>
            </mat-autocomplete>
            <div class="example-full-width">
                <input type="text" placeholder="Price" aria-label="Rate" formControlName="price" readonly>
            </div>
        </div>
        <div class="center">
            <app-my-loader [hidden]="hideloader"></app-my-loader>
        </div>
        <div class="btnbucket" [hidden]="btnclicked">
            <button class="btn btn-outline-success" type="submit" [disabled]="this.Orderdetails.invalid">Add To bucket</button>
        </div>
        <p>

            <!-- Include text description of the icon's meaning for screen-readers -->

        </p>

    </form>
</div>
<div *ngFor="let item of this.gservice.userorder">
    <p>Your last orderid is "<strong style="color: black; font-size: large;">{{item.orderid}}</strong>" and Booked at <strong>{{item.timewas}}</strong></p>
</div>



<!-- <google-map></google-map> -->