p {
    color: red;
    font-size: small;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
}

.example-radio-button {
    margin: 5px;
}

#signupForm {
    margin-right: 2%;
    margin-left: 2%;
}