<div id="headernewimage">
    <img class="headernewimage" src="assets/bodybg/logo10.png" alt="" />
</div>
<div class="tab-container">
    <div id="form-wrapper " class="form-container">
        <p>
            <mat-toolbar>
                <span>User Registration</span>
            </mat-toolbar>
        </p>
        <form [formGroup]="signupForm" id="signupForm" (ngSubmit)="onSubmit(signupForm)">
            <div class="form-group">
                <div class="controls">
                    <input type="text" id="username" placeholder="Name" class="form-control" formControlName="username">
                    <p class="lblError" *ngIf="signupForm.get('username').hasError('required')
                              && !signupForm.get('username').pristine">
                        Name is Required
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col colSignup">
                    <div class="form-group">
                        <!-- E-mail -->
                        <div class="controls">
                            <input type="text" id="email" placeholder="E-mail" class="form-control" formControlName="email">
                            <p class="lblError" *ngIf="signupForm.get('email').hasError('required') && !signupForm.get('email').pristine">
                                Please provide your E-mail
                            </p>
                            <p class="lblError" *ngIf="signupForm.get('email').hasError('email') && !signupForm.get('email').pristine">E-mail is Invalid</p>
                        </div>
                    </div>
                </div>
                <div class="col colSignup">
                    <div class="form-group">
                        <!-- Mobile -->
                        <div class="controls">
                            <input type="number" id="phone" placeholder="Phone" class="form-control" maxlength="11" formControlName="mobileno">
                            <p class="lblError" *ngIf="signupForm.get('mobileno').hasError('required') && !signupForm.get('mobileno').pristine">
                                Phone is Required
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" formGroupName="password_group">
                <div class="col colSignup">
                    <div class="form-group">
                        <div class="control-group">
                            <!-- Password -->
                            <div class="controls">
                                <input type="password" id="password" placeholder="Password" class="form-control" formControlName="password">
                                <p class="lblError" *ngIf="signupForm.get('password_group').get('password').hasError('required') && !signupForm.get('password_group').get('password').pristine">
                                    Password is Required
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col colSignup">
                    <div class="form-group">
                        <div class="control-group">
                            <!-- Password (Confirm)-->
                            <div class="controls">
                                <input type="password" id="password_confirm" placeholder="Password (Confirm)" class="form-control" formControlName="user_confirmPassword">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group row">
                <div class="col colSignup">
                    <div class="form-group">
                        <div class="control-group">
                            <!-- age (Confirm)-->
                            <div class="controls">
                                <input type="text" id="age" maxlength="2" placeholder="Age in Years" class="form-control" formControlName="age">
                                <p class="lblError" *ngIf="signupForm.get('age').hasError('required') && !signupForm.get('age').pristine">
                                    Phone is Required
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col colSignup">
                    <mat-radio-group aria-labelledby="example-radio-group-label" class="example-radio-group" formControlName="gender">
                        <div class="radio_buton">
                            <mat-radio-button class="example-radio-button radio_buttons" *ngFor="let Gender of Genders" [value]="Gender">
                                {{Gender}}
                            </mat-radio-button>
                        </div>
                    </mat-radio-group>
                </div>
            </div>

            <div class="form-group">
                <!-- Username -->
                <div class="controls">
                    <input type="text" id="address" placeholder="Address" class="form-control" formControlName="address">
                    <p class="lblError" *ngIf="signupForm.get('address').hasError('required')
                              && !signupForm.get('address').pristine">
                        Address is Required
                    </p>
                </div>
            </div>
            <div class="bg-info">
                <button class="btn btn-primary alignleft" type="submit" (click)="cancel()">Cancel</button>
                <button class="btn btn-primary alignright" type="submit" [disabled]="signupForm.invalid">Sign Up</button>
            </div>
        </form>
    </div>
</div>