<div id="headernewimage">
    <img class="headernewimage" src="assets/bodybg/logo10.png" alt="" />
</div>
<div class="tab-container">
    <div id="form-wrapper " class="form-container">
        <p>
            <mat-toolbar>
                <span class="material-icons">
                    account_circle
                    </span>
                <span>User Registration</span>
            </mat-toolbar>
        </p>
        <div class="card m-3">
            <div class="card-body">
                <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                    <div class="mysignupForm">
                        <div>
                            <div class="form-group2 form-row">
                                <span class="material-icons">person</span>
                                <input type="text" formControlName="username" class="form-control" placeholder="Type your Name" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                                <p class="lblError" *ngIf="signupForm.get('username').hasError('required')
                                    && !signupForm.get('username').pristine">
                                    *User name is required
                                </p>
                            </div>
                        </div>

                        <div class="formrow">
                            <div class="form-group1 form-row">
                                <span class="material-icons">email</span>
                                <input type="text" formControlName="email" email="true" placeholder="Type your email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                                <p class="lblError" *ngIf="signupForm.get('email').hasError('required')
                                 && !signupForm.get('email').pristine">
                                    *Email is required</p>
                                <p class="lblError" *ngIf="signupForm.get('email').hasError('email')
                                && !signupForm.get('email').pristine">
                                    *Email is not valid
                                </p>
                            </div>
                            <div class="form-group1 form-row">
                                <span class="material-icons">phone_android</span>
                                <input type="text" formControlName="mobileno" maxlength="11" class="form-control" placeholder="Enter your phone no" [ngClass]="{ 'is-invalid': submitted && f.mobileno.errors }" />
                                <p class="lblError" *ngIf="signupForm.get('mobileno').hasError('required')
                                && !signupForm.get('mobileno').pristine">
                                    *Phone No required
                                </p>
                            </div>
                        </div>
                        <div class="formrow ">
                            <div class="form-group1 form-row">
                                <span class="material-icons">
                                    lock
                                    </span>
                                <input type="password" formControlName="password" class="form-control" minlength="6" placeholder="Enter your password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                                <p class="lblError" *ngIf="signupForm.get('password').hasError('required')
                                && !signupForm.get('password').pristine">
                                    *Please confirm your password</p>
                                <p class="lblError" *ngIf="signupForm.get('password').hasError('minlength')
                                    && !signupForm.get('password').pristine">
                                    *Password contain 6 digits
                                </p>
                            </div>
                            <div class="form-group1 form-row">
                                <span class="material-icons">
                                    lock
                                    </span>
                                <input type="password" formControlName="user_confirmPassword" placeholder="Confirm your password " class="form-control" [ngClass]="{ 'is-invalid': submitted && f.user_confirmPassword.errors }" />
                                <p class="lblError" *ngIf="signupForm.get('user_confirmPassword').hasError('required')
                                && !signupForm.get('user_confirmPassword').pristine">
                                    *Please confirm your password</p>
                                <p class="lblError" *ngIf="signupForm.get('user_confirmPassword').hasError('mustMatch')
                                    && !signupForm.get('user_confirmPassword').pristine">
                                    *Passwords must match
                                </p>
                            </div>
                        </div>
                        <div class="formrow ">
                            <div class="form-group1 form-row">
                                <span class="material-icons">123</span>
                                <input type="text" id="age" maxlength="2" placeholder="Age in Years" class="form-control" formControlName="age">
                                <div *ngIf="submitted && f.age.errors" class="invalid-feedback">age is required</div>
                                <p class="lblError" *ngIf="signupForm.get('age').hasError('required')
                                      && !signupForm.get('age').pristine">
                                    *Provide age
                                </p>
                            </div>
                            <div class="colSignup form-group1">
                                <span class="material-icons">supervised_user_circle</span>
                                <label style="font-size:small;margin-left: 10px;">Gender</label>
                                <div class="genderdiv">
                                    <div class="gender">
                                        <input id="male" type="radio" value="male" name="gender" formControlName="gender">
                                        <label for="male">Male</label>
                                    </div>

                                    <div class="gender">
                                        <input id="female" type="radio" value="female" name="gender" formControlName="gender">
                                        <label for="female">Female</label>
                                    </div>
                                    <p class="lblError" *ngIf="signupForm.get('gender').hasError('required')
                                        && !signupForm.get('gender').pristine">
                                        *Gender is not mentioned
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group2">
                            <div id="lastinput " class="controls form-row">
                                <span class="material-icons">home</span>
                                <input type="text" id="address" placeholder="Provide Address" class="form-control" formControlName="address">
                                <p class="lblError" *ngIf="signupForm.get('address').hasError('required')
                                      && !signupForm.get('address').pristine">
                                    *Address is Required
                                </p>
                            </div>
                            <p>*All fields are Required.</p>
                            <p><strong>Note:</strong> Account is valid only for one person </p>
                            <div class="align-button">
                                <button class="btn btn-primary alignright" type="submit" [disabled]="this.signupForm.invalid">Register</button>
                                <button class="btn btn-secondary alignleft" type="reset" (click)="cancel()">Cancel</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>