p {
    color: red;
    font-size: small;
}

.example-radio-button {
    margin: 5px;
}

#signupForm {
    margin-right: 2%;
    margin-left: 2%;
}

.genderdiv {
    display: flex;
}

.gender {
    margin-left: 10px;
}

.formrow {
    display: flex;
    width: 100%;
}

.form-group1 {
    width: 46%;
    margin-right: 2%;
    margin-left: 2%;
}

.form-group2 {
    width: 96%;
    margin-right: 2%;
    margin-left: 2%;
}

.mysignupForm {
    background-color: rgba(235, 235, 235, 0);
    margin-top: 5px;
    margin-bottom: 10px;
}

#lastinput {
    margin-bottom: 10px;
}